<%- include('../includes/header.ejs') %> 
<%- include('../includes/navigation', {isLogin: isAuthenticated}); %>
<link rel="stylesheet" href="/css/product.css" />
<link rel="stylesheet" href="/css/main.css" />

<body>
  <h1>Product Page</h1>

  <% if (products.length === 0) { %>
    <p>No products available.</p>
  <% } else { %>
    <% const availableProducts = products.filter(product => !product.isRemoved); %>
    <% if (availableProducts.length === 0) { %>
      <p>No products available.</p>
    <% } else { %>
      <% availableProducts.forEach(product => { %>
        <div class="product">
          <img src="<%= product.imageUrl %>" alt="Product Image" />
          <div class="product-info">
            <h1 class="product-title"><%= product.name %></h1>
            <p class="product-description"><%= product.description %></p>
            <p class="product-price"><%= product.price %> $</p>
            <form action="/admin/delete/<%= product._id.toString() %>" method="delete">
              <button class="primary-button" name="buy-now">Delete</button>
            </form>
            <form action="/admin/edit/<%= product._id.toString() %>" method="put">
              <button class="primary-button" name="">Edit</button>
            </form>
          </div>
        </div>
      <% }) %>
    <% } %>
  <% } %>

  <%- include('../includes/footer.ejs') %>
</body>
</html>
