<%- include('../partials/header.ejs') %> 
<%- include('../partials/navigation', {isLogin: isAuthenticated}); %>
<link rel="stylesheet" href="/css/product.css" />
<link rel="stylesheet" href="/css/main.css" />

<body>
  <h1>Product Page</h1>

  <% if (products.length === 0) { %>
    <p>No products available.</p>
  <% } else { %>
    <% const availableProducts = products.filter(product => !product.isRemoved); %>
    <% if (availableProducts.length === 0) { %>
      <p>No products available.</p>
    <% } else { %>
      <% availableProducts.forEach(product => { %>
        <div class="product">
          <img src="/<%= product.imageUrl %>" alt="Product Image" />
          <div class="product-info">
            <h1 class="product-title"><%= product.name %></h1>
            <p class="product-description"><%= product.description %></p>
            <p class="product-price"><%= product.price %> $</p>
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            <button class="primary-button" onclick="deleteProduct('<%= product._id.toString() %>', '<%= csrfToken %>')">Delete</button>
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            <button class="primary-button" onclick="editProduct('<%= product._id.toString() %>', '<%= csrfToken %>')">Edit</button>
          </div>
        </div>
      <% }) %>
    <% } %>
  <% } %>

  <%- include('../partials/footer.ejs') %>
  
  <script src="/js/admin.js"></script>
</body>
</html>
