<%- include('../includes/header.ejs') %>
<%- include('../includes/navigation', {isLogin: isAuthenticated}); %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/main.css"> 
<link rel="stylesheet" href="/css/not_found.css"> 

</head>
<body>
    <div class="login-container">
        <div class="flash-messages">
            <% if (message) { %>
              <div class="flash-message success"><%= message %></div>
            <% } %>
        </div>
        <h2>Set New Password</h2>
        <form action="/resetpassword/<%=token%>" method="post">            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <label for="confirmedpassword">Confirm Password:</label>
            <input type="password" id="password" name="confirmedpassword" required>

            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            <button type="submit" class="primary-button" >Create</button>
        </form>
    </div>
</body>
</html>
<%- include('../includes/footer.ejs') %>