<%- include('../includes/header.ejs') %> 
<%- include('../includes/navigation', {isLogin: isAuthenticated}); %>
<link rel="stylesheet" href="/css/product.css" />
<link rel="stylesheet" href="/css/main.css" />

<h1>Shopping Carts</h1>

<div class="product">
  <% if (carts.length === 0) { %>
    <h3>Your cart is empty.</h3>
  <% } else { %>
    <ul>
      <% let totalPrice = 0; %>
      <% carts.forEach(cartItem => {
        const product = products.find(product => product._id.toString() === cartItem.productId.toString());
        const itemTotalPrice = parseInt(product.price) * cartItem.qty;
        totalPrice += itemTotalPrice;
      %>
        <div class="cart-item">
          <div class="cart-item-details">
            <img src="<%= product.imageUrl %>" alt="Product Image" />
            <div class="product-info">
              <h1 class="product-title"><%= product.name %></h1>
              <p class="product-price"><%= product.price %> USD each</p>
              <form action="/cart/update/<%= cartItem._id %>" method="POST">
                <input type="number" value="<%= cartItem.qty %>" name="quantity">
              </form>
              <form action="/cart/remove/<%= cartItem._id %>" method="POST">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                <button>Remove</button>
              </form>
              <p>Total Price: <%= itemTotalPrice %> USD</p>
            </div>
            <div class="cart-item-actions">
            </div>
          </div>
        </div>
      <% }); %>
      <h2 class="total-cart-price">Total Price for all Items: <%= totalPrice %> USD</h2>
      <form action="/shop/orders" method="POST">
        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
        <button class="primary-button">Order</button>
      </form>
    </ul>
  <% } %>
</div>

<%- include('../includes/footer.ejs') %>
