<%- include('../includes/header.ejs') %> 
<%- include('../includes/navigation.ejs') %>
<link rel="stylesheet" href="/css/product.css" />
<link rel="stylesheet" href="/css/main.css" />

<h1>Carts</h1>

<div class="product">
  <% if (cartItems.length === 0) { %>
    <p>Your cart is empty.</p>
  <% } else { %>
    <ul>
      <% cartItems.forEach(cartItem => { %>
          <div class="cart-item">
            <div class="cart-item-details">
            <img src="<%= formattedProduct.find(product => product.id === cartItem.productId).imageUrl %>" alt="Product Image" />
            <div class="product-info">
                <h1 class="product-title"><%= formattedProduct.find(product => product.id === cartItem.productId).title %></h1>
                <p class="product-price"><%=formattedProduct.find(product => product.id === cartItem.productId).price%> $</p>

              <h2><%= cartItem.quantity %> x <%= formattedProduct.find(product => product.id === cartItem.productId).name %></h2>
              <p><%= formattedProduct.find(product => product.id === cartItem.productId).price %> USD each</p>
            </div>
            <div class="cart-item-actions">
              <!-- Add any actions you want for each cart item here -->
            </div>
          </div>
      <% }); %>
    </ul>
  <% } %>
</div>

<%- include('../includes/footer.ejs') %>
