<%- include('../includes/header.ejs') %>
<%- include('../includes/navigation', {isLogin: isAuthenticated}); %>
<link rel="stylesheet" href="/css/product.css" />
<link rel="stylesheet" href="/css/main.css" />

<h1>Orders</h1>
<div class="product">
  <% if (orders.length === 0) { %>
    <h3>You don't have any orders.</h3>
  <% } else { %>
    <ul>
      <% let totalPrice = 0; %>
      <%  orders.cart.forEach(cartItem => {
          const productItem = products.find(p => p._id.equals(cartItem.productId));
          const itemTotalPrice = parseInt(productItem.price) * cartItem.qty;
          totalPrice += itemTotalPrice;
      %>
        <div class="cart-item">
          <div class="cart-item-details">
            <img src="<%= productItem.imageUrl %>" alt="Product Image" />
            <div class="product-info">
              <h1 class="product-title"><%= productItem.name %></h1>
              <h4><%= cartItem.qty %> x <%= productItem.price %> $</h4>
              <p>Total Price: <%= itemTotalPrice %> USD</p>
            </div>
            <div class="cart-item-actions">
            </div>
          </div>
        </div>
      <% }); %>
      <h2 class="total-cart-price">Total Price for all Items: <%= totalPrice %> USD</h2>
      <a href="/shop/invoices/<%=orders._id%>">Download Invoice</a>
      <form action="/shop/orders/completed/<%=orders._id%>" method="POST">
        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
        <button class="primary-button" name="order">Order</button>
      </form>
      <form action="/shop/orders/removed/<%=orders._id%>" method="POST">
        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
        <button class="primary-button" name="remove">Remove all orders</button>
      </form>
    </ul>
  <% } %>
</div>

<%- include('../includes/footer.ejs') %>
