<%- include('../partials/header.ejs') %>
<%- include('../partials/navigation', {isLogin: isAuthenticated}); %>
<link rel="stylesheet" href="/css/product.css" />
<link rel="stylesheet" href="/css/main.css" />

<body>
  <h1>Product Page</h1>

  <% const availableProducts = products.filter(product => !product.isRemoved); %>

  <% if (availableProducts.length === 0) { %>
    <p>No products available.</p>
  <% } else { %>
    <% availableProducts.forEach(product => { %>
      <div class="product">
        <% console.log(baseUrl) %>
        <img src="/<%= product.imageUrl %>" alt="Product Image" />
        <div class="product-info">
          <h1 class="product-title"><%= product.name %></h1>
          <p class="product-description"><%= product.description %></p>
          <p class="product-price"><%= product.price %> $</p>
          <form action="/shop/products/<%= product._id.toString() %>" method="get">
            <button class="primary-button" name="buy-now-btn">Details</button>
          </form>

        <% if (isAuthenticated) { %>
          <form action="/cart/<%= product._id.toString() %>" method="post">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" > 
            <button class="primary-button" name="cart-btn">Add to Cart</button>
          </form>
          <% } %>
        </div>
      </div>
    <% }) %>
  <% } %>

  <%- include('../partials/footer.ejs') %>
</body>
</html>
