<!-- <!DOCTYPE html>
<html>
<head>
  <title>Product Page</title>
  <link rel="stylesheet" href="css/product.css">
</head> -->

<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/product.css">
<%- include('../includes/navigation.ejs') %>

<body>
  <h1>Product Page</h1>

<!-- product.ejs -->
<% for (let i = 0; i < products.length; i++) { %>
    <div class="product">
      <!-- https://images.pexels.com/photos/13661636/pexels-photo-13661636.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2 -->
      <img src="https://images.pexels.com/photos/13661636/pexels-photo-13661636.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Product Image">
      <div class="product-info">
        <h1 class="product-title"><%= products[i].title %> </h1>
        <p class="product-description"> <%=products[i].description%> </p>
        <p class="product-price"> <%=products[i].price%> $</p>
          <button class="buy-button" name="buy-now">Buy now</button> 
          <form action="/shop/cart" method="post">
            <button class="buy-button" name="" >Add to Cart</button>
          </form>
      </div>
    </div>
<% } %>


<%- include('../includes/footer.ejs') %>
